/*
* @Author: lujiaolan
* @Date:   2016-10-14 14:27:50
* @Last Modified by:   lujiaolan
* @Last Modified time: 2016-10-14 14:27:50
*/

body {
    background-color: #ededed;
}

.clear {
    clear: both;
}

/*--正文样式 start--*/
#content * {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: content-box;
}

#content {
    width: 98%;
    max-width: 1000px;
    min-width: 300px;
    margin: 10px auto 10px;
    min-height: 500px;
    font: .875em/1.5rem Helvetica, Microsoft Yahei, Hiragino Sans GB, sans-serif;
    color: #555;
}

#content h2,
#content a {
    word-break: break-all;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

#content h2 {
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    display: block;
}

#content a:hover {
    color: #39d;
}

#content .main {
    padding: 19px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

#content .post-info {
    position: relative;
    padding: 10px;
    line-height: 20px;
    border: 1px solid #e6e6e6;
    background-color: #f6f6f6;
    overflow: hidden;
}

#content .avatar img {
    float: left;
    margin-right: 25px;
    padding: 3px;
    border-radius: 100px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

#content .post-author-name {
    font-size: 1rem;
    font-weight: 800;
}

#content .post-theme {
    font-size: 14px;
    padding: 5px;
}

#content .post-info-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    color: #35ac6b;
    border: 1px solid #35ac6b;
    font-size: 14px;
}

#content .main-media {
    margin-right: -1%;
}

#content .post-list {
    float: left;
    width: 32.333%;
    height: 430px;
    margin: 0 1% 1% 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

#content .post-content {
    position: relative;
    height: 400px;
    padding: 15px;
    overflow: hidden;
}

#content .postlist-info a{
    color: #999;
    font-size: .75rem;
}

#content .icon-home,
#content .icon-suibadaohang {
    font-size: 14px;
}

#content .icon-time {
    font-size: 10px;
}

#content .thumbnail_box {
    width: 100%;
    border: 1px solid #E6E6E6;
}

#content .thumbnail {
    max-height: 220px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
}

#content .thumbnail a {
    display: block;
    line-height: 0;
    position: relative;
}

#content .thumbnail img {
    width: 100%;
    height: auto;
    transition: all .24s ease-out;
}

#content .thumbnail img:hover {
    opacity: 1;
    transform: scale(1.1,1.1);
}

#aTip{
    display: none;
    padding: 12px;
    font-size: .85rem;
    line-height: .85rem;
    border: 2px solid #dedede;
    background-color: #f6f6f6;
    color: #333;
}

#content .entry-content {
    word-break: break-all;
    overflow: hidden;
    font-size: .85rem;
    line-height: 24px;
}

#content .tags {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    line-height: 32px;
    padding-bottom: 12px;
    background-color: #fff;
    box-shadow: 0 -3px 10px 6px #fff;
    overflow: hidden;
}

#content .tags a {
    padding: 3px 6px;
    font-size: .75rem;
    color: #fff;
    background-color: #f96;
}

/*分页器*/

#content .pageNav {
    text-align: center;
}

#content .pagination {
    margin: 6px 0;
}

#content .pagination li a {
    margin-right: 7px;
    border-radius: 0;
    padding: 3px 9px;
    font-size: .7rem;
    color: #555;
}

#content .pagination li a[title*="Next Pag"] {
    margin-left: 7px;
}

#content .pagination li a[class*="active"] {
    padding: 3px .55rem;
    background-color: #59d;
    color: #fff;
}

#content .pagination li a:not(.active):hover {
    background-color: #181818;
    color: #fff;
}
/*分页器*/

@media screen and (max-width: 986px) {
    #lunbo {
        display: none;
    }
    #content .ad-main {
        display: none;
    }
    #content {
        margin-top: 50px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 870px) {
    #content .post-list {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    #content .post-list {
        width: 99%;
    }
}
