body{
    color: #555;
    /*position: relative;*/
}
#footer {
    width: 100%;
    font-size: 12px;
    color: #666;
    background: #181818;
    padding: 0 0 20px;
    /*position: fixed;*/
    /*bottom:0;*/
    /*z-index:1;*/
    display: block;
}
#footer a{
    color:#999;
}
a:link, a:visited, a:hover{
    text-decoration: none;
}
.yqlj{
    background: #222;
    text-align: center;
    font-size: 12px;
}
.yqlj a{
    color: #555;
}
.footer-1{
    padding-top: 5px;
    background: #222;
    text-align: center;
}
.footer-2 {
    padding-top: 5px;
    text-align: center;
}
.footer-2 img{
    vertical-align: baseline;
}
.footer-1 a:hover, .footer-2 a:hover{
    color: #fff;
}


















































